@charset "UTF-8";

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html > body {
	font-family: 'NanumSquareNeo-Variable', sans-serif;
	text-underline-position: under;
}

.table-box-type > table {
	width: 100%;
}

.table-box-type > table th, .table-box-type > table td {
	border: 1px solid black;
	padding: 10px;
	text-align: center; 
}


.table-box-type > table th {
    background-color: rgb(165, 125, 208);
    color: white;
    
}

.table-box-type > table td {
    background-color: rgb(243, 238, 247);
    transition: background-color 0.3s ease;
}

.table-box-type > table td:hover {
    background-color: rgb(223, 203, 243); /* 연한 하늘 색상 */
}

a {
    color: rgb(194, 156, 233);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: rgb(64, 0, 128); /* hover 시 색상 변경 */
}

.btns > .btn-text-color{
	color: black;
}

.btns > .btn-text-color:hover{
	color: blueviolet;
	text-decoration: underline;
}