@charset "UTF-8";

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html > body, html > body .ProseMirror, html > body .toastui-editor-contents {
	font-family: 'NanumSquareNeo-Variable', sans-serif;
	text-underline-position: under;

	
}
html > body .ProseMirror, html > body .toastui-editor-contents {
	font-size: 1.25rem;
}

.table-box-type > table {
	width: 100%;
}

/*.table-box-type > table th, .table-box-type > table td {
	border: 1px solid black;
	padding: 10px;
	text-align: center; 
}
*/

.table-box-type > table th {
    background-color: rgb(165, 125, 208);
    color: white;
    
}

.table-box-type > table td {
    background-color: rgb(243, 238, 247);
    transition: background-color 0.3s ease;
}

.table-box-type > table td:hover {
    background-color: rgb(223, 203, 243); /* 연한 하늘 색상 */
}

a {
    color: rgb(194, 156, 233);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: rgb(64, 0, 128); /* hover 시 색상 변경 */
}

.btns > .btn-text-color{
	color: black;
	background-color: #ffffff;
}

.btns > .btn-text-color:hover{
	color: blueviolet;
	
}

.border-bottom-line {
	border-bottom: 1px solid #96948d;
}
}

.modal-exam, .popUp-exam {
	font-size: 2rem;
}

.layer,.layer-bg {
	display: none;
}

.layer-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
}

.layer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background-color: darkseagreen;
	color: white;
	width: 500px;
	height: 500px;
	border: 5px solid red;
}

.layer > h1 {
	font-size: 2rem;
	padding: 15px;
}

.layer > div {
	padding: 20px;
}

.layer > button {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.layer > .close-btn-x {
	font-size: 4rem;
	position: absolute;
	top: -10px;
	right: 15px;
	cursor: pointer;
	color: black;
	}